<div class="login-form">
    <h2>Entrar</h2>
    <br />
    <form action="/login" method="POST">
        <fieldset>
            <div class="control-group">
                <input name="mail" type="text" placeholder="E-mail">
            </div>
            <div class="control-group">
                <input name="pass" type="password" placeholder="Contraseña">
            </div>
            <button class="btn btn-primary" type="submit">Entrar</button>
        </fieldset>
    </form>
</div>