<tr class="cambio_animal">
  <td class="a-center">
    <%= f.select :ganado_desde, no_select ? [] : get_all_ganado, {}, {class: :ganado_desde} %>
  </td>
  <td class="a-center">
    <%= f.select :ganado_hasta, no_select ? [] : get_all_ganado, {}, {class: :ganado_hasta} %>
  </td>
</tr>