<div class="modal" id="addEmpleadoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nuevo Empleado</h3>
  </div>
  <div class="modal-body">
    
  </div>
</div>