<% @br =["Empleados", "Ver"] %>

<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @empleado.nombre %>
</p>


<%= link_to 'Edit', edit_empleado_path(@empleado) %> |
<%= link_to 'Back', empleados_path %>
