<tr class="movimiento">
  <td>
  <% if no_select %>
    <%= f.select :ganado_id, [] %>
  <% else %>
    <%= f.select :ganado_id, get_all_ganado %>
  <% end %>
  </td>

  <td style="text-align: center">
    <%= f.text_field :cant, :class => [:small, :cant1] %>
  </td>
  <td style="text-align: center; width: 50px">
    <%= link_to_remove_fields("Borrar", f) %>
  </td>
</tr>