<table class="table table-bordered">
    <tr>
      <th>Categ. de Ganado</th>
      <th>Despach.</th>
      <th>Reciv.</th>
  </tr>
  
  <% ganados.each do |g| %>
  <tr class="movimiento">
    <td>
    <%= g.ganado.ganado_grupo.nombre+" "+g.ganado.nombre %>
    </td>

    <td style="text-align: center">
      <%= g.cant %>
    </td>

    <td style="text-align: center">
      <%= g.cant_sec %>
    </td>
  </tr>
  <% end%>
</table>