<div class="movimiento">
  <% if no_select %>
    <%= f.select :ganado_id, [] %>
  <% else %>
    <%= f.select :ganado_id, get_all_ganado %>
  <% end %>

  <div style="float: right">
    Despach:
    <%= f.text_field :cant, :class => :small %>
    Rcp:
    <%= f.text_field :cant_sec, :class => [:small, :cant1] %>
  </div>
</div>