<tr class="movimiento">
  <td>
  <% if no_select %>
    <%= f.select :ganado_id, [] %>
  <% else %>
    <%= f.select :ganado_id, get_all_ganado %>
  <% end %>
  </td>

  <td style="text-align: center">
    <%= f.text_field :cant, :class => [:small, :cant1] %>
  </td>
</tr>