<table>
	<tr>
		<th>Razón</th>
		<th>Fecha</th>
		<th>Detalle</th>
		<th></th>
	</tr>
	<% @movs.each do |mov| %>
	<tr>
		<td><%= mov.movimientos_tipo.nombre unless mov.movimientos_tipo.nil?%></td>
		<td><%= mov.fecha%></td>
		<td><%= mov.detalle%></td>
		<td><%= link_to "Editar", edit_movimiento_path(mov)%></td>
	</tr>
	<% end %>

</table>