<% content_for :breadcrumb do %>
	<% @br.each_with_index do |b, i| %>
		<li><a href='#'><%= b %></a></li> 
		<% unless i+1 >= @br.size %><span class='divider'>/</span> <% end %>
	<% end %>
<% end %>

<%= render "form" %>